  <p>
    <mat-toolbar color="primary">  
      <mat-toolbar-row>
        <span>About Us</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          
        </button>

  <button class="mr-bttn" mat-raised-button color="accent" routerLink="login">Login</button>
  <button class="mr-bttn1" mat-raised-button color="warn" routerLink="register">Register</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>

<router-outlet></router-outlet>

