<form class="example-form">
    <legend>Login Form</legend>  
  
      
    
      <table class="example-full-width" cellspacing="0"><tr>
        
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. California">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>PassWord</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="">
        </mat-form-field></td>
      </tr>
      <tr>
        <button (click)="sub12()" mat-stroked-button color="accent">Submit</button>
      </tr>
    </table>
    </form>
    